![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# 隆Bienvenidos a la "Ciudad Python: Programando la Ciudad del Futuro"!

En este "notebook" vamos a continuar aprendiendo con m谩s detalles como hacer operaciones en Python.

> **Pro Tip**: para una documentaci贸n completa de Python existe el tutorial oficial: https://docs.python.org/es/3/tutorial/index.html

## 驴Operaciones?

隆As铆 es!, hay operaciones que Python permite ejecutar de manera m谩s f谩cil y sencilla con instrucciones simples. Aprenderemos los siguientes operadores:

- Operadores aritm茅ticos
- Operadores de asignaci贸n 
- Operadores de comparaci贸n

## Operadores Aritm茅ticos

Un operador aritm茅tico toma dos operandos como entrada, realiza un c谩lculo y devuelve el resultado.

### Lista de Operadores
- "+"	Realiza Adici贸n entre los operandos	12 + 3 = 15
- "-"	Realiza Substracci贸n entre los operandos	12 - 3 = 9
- "*"	Realiza Multiplicaci贸n entre los operandos	12 * 3 = 36
- "/"	Realiza Divisi贸n entre los operandos	12 / 3 = 4
- "%"	Realiza un m贸dulo entre los operandos	16 % 3 = 1
- "**"	Realiza la potencia de los operandos	2 ** 3 = 8
- "//"	Realiza la divisi贸n con resultado de n煤mero entero	18 // 5 = 3

In [2]:
# De acuerdo con las reglas aritm茅ticas, realizamos primero la multiplicaci贸n y luego la suma. Es decir, 3 por 80 es 240
# # y este resultado lo sumamos a 2, dando un total de 242.
2 + 3 * 80

242

In [3]:
(2 + 3) * 80 # Cuando existan par茅ntesis, entonces se desarrollan primero las operaciones dentro del par茅ntesis y luego las dem谩s.

400

In [1]:
30 * 10 # Una simple multiplicaci贸n

300

In [2]:
2 ** 8 # Estamos elevando 2 al exponente 8

256

In [3]:
23 / 7 # Aqu铆 estamos haciendo una divisi贸n

3.2857142857142856

In [4]:
23 // 7 # La misma divisi贸n, pero truncada a solo enteros

3

In [5]:
5 % 2 # Ac谩 estamos realizado una operaci贸n especial, llamada m贸dulo, que se refiere al residuo de una divisi贸n

1

In [6]:
23 % 7 # Otro ejemplo de m贸dulo

2

# Operadores de asignaci贸n

El signo de **"="**, como ya lo hemos visto antes, es un operador de asignaci贸n simple y nos permite asignar un valor a una variable.

In [ ]:
# Aqui estamos asignando el valor "1" a la variable que llamamos tiempo
tiempo = 1

Con el operador **"="** podemos realizar operaciones en conjunto, por ejemplo:

In [1]:
tiempo = 1
tiempo = tiempo + 1 # Aqu铆 estamos dici茅ndole a Python que el valor de "tiempo", va a ser el mismo valor m谩s 1
tiempo

2

Esta misma operaci贸n, y otras m谩s, las podemos realizar de manera sencilla utilizando operadores especiales como:

**+=** Nos permite utilizar el operador de suma para agregar a una variable el valor extra, por ejemplo:

In [2]:
pasajeros = 1
pasajeros += 1
pasajeros

2

**-=** Es parecido al anterior, pero hace lo contrario, este resta a una variable existente

In [ ]:
pasajeros = 1
pasajeros -= 1
pasajeros

0

***=** Tambi茅n tenemos para la multiplicaci贸n

In [7]:
a = 2
a *= 2
a *= 2
a

8

**/=** Y la divisi贸n:

In [8]:
a = 4
a /= 2
a /= 2
a

1.0

Finalmente tenemos operadores como **%=** , **//=** y **\*\*=**

In [ ]:
a = 5
a %= 2  # El m贸dulo o residuo de 5 entre 2
a

1

In [ ]:
a = 5
a //= 2 # La divisi贸n entera de 5 entre 2. Es decir, 2 reasignado a la variable a
a

2

In [ ]:
a = 5
a **= 2 # 5 almacenado en la variable "a", lo elevamos a la potencia 2 y lo almacenamos en a
a

25

# Operadores de comparaci贸n

Contamos con operadores para comparar valores, por ejemplo:

**==** Con este operador comparamos 2 valores y confirmamos si son iguales, por ejemplo:

In [9]:
'わ' == 'わ'

True

**!=** Con este operador vemos si 2 valores son diferentes

In [10]:
'Perro ' != 'Gato '

True

Tambi茅n tenemos operadores de comparaci贸n mayor, menor, mayor igual o menor igual que:

**<** Menor que

**>** Mayor que

**>=** Mayor o igual que

**<=** Menor o igual que

In [ ]:
2 > 1 # Es cierto que 2 es mayor que 1

True

In [ ]:
1 > 1 # Es falso que 1 es mayor que 1

True

In [ ]:
12 < 3 # Es falso que 12 es menor que 3

False

In [ ]:
1 >= 1 # es cierto 1 es mayor o igual a 1

True

In [ ]:
2 <= 2 # es cierto que 2 es mayor o igual a 2

True

# Talleres

1. Escribe un Programa en Python que de el resultado de 3 a la potencia 100

2. Escribe un programa en Python que calcule la ra铆z cuadrada de 216

3. Escribe un programa en Python que calcule el m贸dulo (o residuo) del n煤mero 20123 entre 12

4. Cu谩l es la diferencia de (8/2)(2+2) y 8/2*2+2

5. Escribe un programa en Python que le pida al usuario ingresar el n煤mero total de pasajeros y que devuelva el costo total a pagar? Nota: asumir el costo del pasaje regular de MiBus Panam谩.