![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# ¬°Bienvenidos al taller "Learning to Code with Dell Technologies"!

En este "notebook" vamos a continuar aprendiendo mas a detalle como hacer operaciones en Python.

> **Pro Tip**: para una documentaci√≥n completa de Python existe el tutorial oficial: https://docs.python.org/es/3/tutorial/index.html

## ¬øOperaciones?

¬°As√≠ es!, hay operaciones que Python permite ejecutar de manera m√°s f√°cil y sencilla con instrucciones simples.

# Operadores Aritm√©ticos

Un operador aritm√©tico toma dos operandos como entrada, realiza un c√°lculo y devuelve el resultado.

# Lista de Operadores
- "+"	Realiza Adici√≥n entre los operandos	12 + 3 = 15
- "-"	Realiza Substracci√≥n entre los operandos	12 - 3 = 9
- "*"	Realiza Multiplicaci√≥n entre los operandos	12 * 3 = 36
- "/"	Realiza Divisi√≥n entre los operandos	12 / 3 = 4
- "%"	Realiza un m√≥dulo entre los operandos	16 % 3 = 1
- "**"	Realiza la potencia de los operandos	12 ** 3 = 1728
- "//"	Realiza la divisi√≥n con resultado de n√∫mero entero	18 // 5 = 3

In [ ]:
2 + 3 * 80 # Aqui realizamos una multiplicacion y luego una suma 8 por 3 es 240 mas 2 es 242

242

In [ ]:
(2+3) * 9 # Aqui siempre realizamos los par√©ntesis primero

45

In [ ]:
30 * 10 # Una simple multiplicacion

300

In [ ]:
2 ** 8 # Estamos elevando 2 al exponente 8

256

In [ ]:
23 / 7 # Aqui estamos haciendo una division

3.2857142857142856

In [ ]:
23 // 7 # La misma division pero truncada a solo enteros

3

In [ ]:
5 % 2 # Aca estamos realizado una operacion especial llamada m√≥dulo que se refiere al residuo de una division

1

In [ ]:
23 % 7 # Otro ejemplo de modulo

2

# Operadores de asignacion

Con los operadores antes mencionados podemos crear nuevos operadores llamados operadores de asignacion, lo que nos permite ir agregando o quitando a una variable en especifico, estos operadores son:

**=** Como ya lo hemos visto antes es un operador de asignacion simple y nos permite asignar un valor a una variable.

In [ ]:
a = 1

Con el operador **=** podemos realizar operaciones en conjunto, por ejemplo:

In [ ]:
a = 1
a = a + 1 # Aqui estamos diciendole a Python que el valor de a, va a ser el mismo valor mas uno
a

2

Esta misma operacion y mucho mas lo podemos realizar de manera sencilla utilizando operadores especiales como:

**+=** Nos permite utilizar el operador de suma para agregar a una variable el valor extra, por ejemplo:

In [ ]:
a = 1
a += 1
a

2

**-=** Es parecido al anterior, pero hace lo contrario, este resta a una variable existente

In [ ]:
a = 1
a -= 1
a

0

***=** Tambien tenemos para la multiplicacion

In [ ]:
a = 2
a *= 2
a *= 2
a

8

**/=** Y la division:

In [ ]:
a = 4
a /= 2
a /= 2
a

1.0

Finalmente tenemos operadores como **%=** , **//=** y **\*\*=**

In [ ]:
a = 5
a %= 2  # El modulo o residuo de 5 entre 2 osea 1 nuevamente a la variable a
a

1

In [ ]:
a = 5
a //= 2 # La division entera de 5 entre 2 osea 2 reasignado a la variable a
a

2

In [ ]:
a = 5
a **= 2 # 5 almacenado en a lo elevamos a la potencia 2 y lo almacenamos en a
a

25

# Operadores de comparacion

Ademas de estos operadores hay operadores para comparar valores, por ejemplo:

**==** Con este operador comparamos 2 valores y confirmamos si son iguales, por ejemplo:

In [ ]:
'‚ù§Ô∏è' == '‚ù§Ô∏è'

True

**!=** Con este operador vemos si 2 valores son diferentes

In [ ]:
'Perro üêï' != 'Gato üê±'

True

Tambien tenemos operadores de comparacion mayor, menor, mayor igual o menor igual que:

**<** Menor que

**>** Mayor que

**>=** Mayor igual que

**<=** Menor igual que

In [ ]:
2 > 1 # Es cierto que 2 es mayor que 1

True

In [ ]:
1 > 1 # Es falso que 1 es mayor que 1

True

In [ ]:
12 < 3 # Es falso que 12 es menor que 3

False

In [ ]:
1 >= 1 # es cierto 1 es mayor o igual a 1

True

In [ ]:
2 <= 2 # es cierto que 2 es mayor o igual a 2

True

# Talleres

1. Escribe un Programa en Python que de el resultado de 3 a la potencia 100

2. Escribe un programa en Python que calcule la raiz cuadrada de 216

3. Escribe un programa en Python que calcule el modulo (o residuo) del numero 20123 entre 12

4. Cual es la diferencia de (8/2)(2+2) y 8/2*2+2

5. ¬øQue es mayor 3<sup>42</sup> o 2021<sup>12</sup>?

6. ¬øSon los emojis 'üòä' y 'üôÇ' iguales?

7. ¬øEl emoji del cohete 'üöÄ' por 3 es igual a 'üöÄüöÄüöÄ' ?