![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# Â¡Bienvenidos al taller "Learning to Code with Dell Technologies"!

En este taller estaremos aprendiendo el Lenguaje de programaciÃ³n Python muy versÃ¡til y divertido para muchas cosas.

El entorno que estas viendo se llama CoLab y esta basado en "notebooks" o libretas que permite ejecutar tu cÃ³digo en la nube.

## Â¿Que es Python y Colab?

Python es un lenguaje de programaciÃ³n que permite ejecutar las instrucciones que le indiques.

Colab es el entorno que ejecuta el codigo Python y te lo muestra en pantalla de manera interactiva.

En Colab tenemos campos de contenido como este que estamos leyendo, pero ademas tiene campos de codigo python como el que vez abajo:

En los campos de codigo puedes escribir codigo Python y presional en el boton de ejecutar para ver el resultado

In [ ]:
1+1

2

In [ ]:
2+2

4

En Python adicionalmente tenemos la caracteristica de colocar comentarios explicativos que no afectan la ejecucion del programa. Estos se escriben dentro del cÃ³digo utilizando el caracter '#':

In [ ]:
# Este es un comentario dentro de Python

# Â¿Que es programar?

"Programar es el simple acto de escribir instrucciones para que una computadora las ejecute"

In [ ]:
print("Hola Mundo!!!!!")

Hola Mundo!!!!!

# Â¿Que es eso que acabo de escribir?

ViÃ©ndolo paso a paso primero tenemos la instruccion "print" que significa en espaÃ±ol "imprimir"

Luego tenemos parÃ©ntesis que representan la forma que Python utiliza para asignar datos a una instruccion.

Luego abrimos comillas y escribimos el mensaje que quiere imprimir en pantalla

Al final, tenemos un bonito "Hola Mundo" como tipo de dato de texto solamente.

# Â¿QuÃ© son los tipos de datos?

En cualquier lenguaje de programaciÃ³n de alto nivel se manejan tipos de datos. Los tipos de datos definen un conjunto de valores que tienen una serie de caracterÃ­sticas y propiedades determinadas.

Para saber el tipo de un dato en python utilizamos la instrucciÃ³n **type()**

## Tipo cadena de texto

Conocido en Python como String o en su abreviacion	**str**

In [ ]:
type("este es un texto")

str

In [ ]:
'Este es un tipo cadena de texto en comillas simples'

'Este es un tipo texto'

In [ ]:
"Tambien puedo escribir un tipo texto en comillas dobles"

'Tambien puedo escribir un tipo texto en comillas dobles'

Tambien puedes escribir tipo texto que tenga varias lineas, donde el caracter especial '\n' se refiere al caracter nueva linea

In [ ]:
"""
Este es un tipo texto
que puedo escribir en varias lineas
"""

'\nEste es un tipo texto\nque puedo escribir en varias lineas\n'

## Tipo Numero

En Python representamos los nÃºmeros segun su tipo:

- Entero
- Flotante
- Imaginarios

### Enteros

Para un entero podemos escribir el numero solamente y Python lo va a aceptar como vÃ¡lido:

In [ ]:
type(1)

int

In [ ]:
412312

412312

Tambien los numeros pueden ser negativos, utilizando el simbolo '-'

In [ ]:
-1

-1

Los enteros los podemos escribir tambien en 3 formas especiales adicionales que son binario, hexadecimal y octal.

In [ ]:
0b101010

42

### Flotante

Para un flotante, nos estamos refiriendo a un numero con punto decimal:

In [ ]:
type(3.141516)

float

In [ ]:
2.728127

2.728127

Para un nÃºmero imaginario colocamos la letra 'j' al lado del nÃºmero:

In [ ]:
2j

2j

## Tipo Boleano

Con el tipo booleano nos referimos al concepto de si algo es cierto o falso.

En Python el tipo booleano principalmente se refiere a **True** o **False**

In [ ]:
type(True)

bool

In [ ]:
False

False

## Conversiones de Tipos de Datos

Algunos de los tipos de datos que mencionamos anteriormente, pueden ser convertidos entre ellos siempre y cuando sea posible:

- Para convertir a entero usamos la instruccion **int()**
- Para convertir a flotante utilizamos la instruccion **float()**
- Para convertir a cadena de texto utilizamos la instruccion **str()**

Por ejemplo, podemos convertir el numero flotante 3.141516 a entero de la siguiente manera:

In [ ]:
int(3.141516)

3

Tambien podemos convertir del tipo cadena a flotante utilizando str() y vicevesa con float()

In [ ]:
str(3.141516)

'3.141516'

In [ ]:
float("3.141516") # NÃ³tese las comillas

3.141516

# Entendiendo errores en el Entorno de Programacion

Cuando hay un error, Python muestra el tipo de error y su definiciÃ³n.

Ademas muestra en que linea necesitas corregir.

Por ejemplo abajo se nos muestra una error de division por 0.

In [1]:
1/0

ZeroDivisionError: ignored

# Talleres

Ahora pondremos este conocimiento en practica y veremos algunos ejercicios juntos de los tipos basicos de datos en Python e interactuaremos con el entorno:

2. Â¿CuÃ¡l es el tipo de dato de **8.1238812**?

3. Â¿Cual es el tipo de dato de un emoji **'ðŸ˜Š'**?

5. Â¿Que tipo de dato es **False**?