![Data Science Black@300x.png](https://i.imgur.com/eJKkh5m.png)

# 춰Bienvenidos al taller "Learning to Code with Dell Technologies"!

En este "notebook" vamos a continuar aprendiendo mas a detalle las diferentes formas de como almacenar listas de cosas en Python

## 쯈ue es una Lista?

Una Lista es un arreglo de cosas, que tienen una secuencia y forman parte de un grupo.

## Contenedores b치sicos

> Nota: Los objetos **mutables** pueden ser modificados despu칠s de su creaci칩n y los **inmutables** no.

Los contenedores son objetos que pueden utilizarse para agrupar otros objetos. Los tipos de contenedores b치sicos son:

- **`str`** (cadena: inmutable; indexada por enteros; los elementos se almacenan en el orden en que fueron a침adidos)
- **`list`** (lista: mutable; indexada por enteros; los elementos se almacenan en el orden en que se a침aden)
  - `[3, 5, 6, 3, 'perro', 'gato', Falso]`
- (tupla: inmutable; indexada por enteros; los elementos se almacenan en el orden en que se a침aden)
  - (3, 5, 6, 3, 'perro', 'gato', Falso)`
- **`set`** (set: mutable; no est치 indexado en absoluto; los elementos NO se almacenan en el orden en que se a침adieron; s칩lo puede contener objetos inmutables; NO contiene objetos duplicados)
  - `{3, 5, 6, 3, 'perro', 'gato', Falso}`
- **`dict`** (diccionario: mutable; los pares clave-valor est치n indexados por claves inmutables; los elementos NO se almacenan en el orden en que se a침adieron)
  - `{'nombre': 'Jane', 'edad': 23, 'fav_foods': ['pizza', 'fruta', 'pescado']}`

Cuando defina listas, tuplas o conjuntos, utilice comas (,) para separar los elementos individuales. Cuando defina dicts, utilice dos puntos (:) para separar las claves de los valores y comas (,) para separar los pares clave-valor.

Las cadenas, las listas y las tuplas son todos **tipos de secuencia** que pueden utilizar los operadores `+`, `*`, `+=` y `*=`.

In [ ]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [ ]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [ ]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [ ]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{False, 3, 5, 6, 'dog', 'cat'}

In [ ]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [ ]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [ ]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [ ]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Acceso a los datos en los contenedores

Para cadenas, listas, tuplas y dicts, podemos utilizar la **notaci칩n de sub칤ndice** (corchetes) para acceder a los datos en un 칤ndice.

- las cadenas, listas y tuplas est치n indexadas por enteros, **empezando por 0** para el primer elemento
  - estos tipos de secuencias tambi칠n permiten acceder a un rango de elementos, lo que se conoce como **corte**.
  - utilizar la **indexaci칩n negativa** para empezar por el final de la secuencia
- los dicts se indexan por sus claves

> Nota: los conjuntos no est치n indexados, por lo que no podemos utilizar la notaci칩n de sub칤ndice para acceder a los elementos de los datos.

In [ ]:
# Access the first item in a sequence
list1[0]

3

In [ ]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [ ]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [ ]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [ ]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [ ]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [ ]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

# Talleres


1. Escribe un programa en Python para sumar todos los elementos de la lista de numeros `[1,2,-8]`

2. Escribe un programa en Python para multiplicar todos los elementos de la misma lista `[1,2,-8]`

3. Escribe un programa en Python para copiar la lista `[10, 22, 44, 23, 4]` a una nueva y cambie el primer caracter por el emoji '游뗵'